.news-heading{
    font-size: 18px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 1px 0;
}

.author-date-reactions{
    margin: 3%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 2%;
    width: 80%;
    margin-bottom: 4%;  
}

.author{
    margin-bottom: 5px;
}

.popular-news-item-thumb-wrapper{
    font-family: Arial, Helvetica, sans-serif;
}

.link-span {
     cursor:pointer;
     color:#0275d8;
}

@media screen and (max-width: 1024px){
    .author-date-reactions{
        font-size: 14px;
    }
}