<div class="row">
    <div class="col-sm-12">
        <div class="row">
                    <div class="col-md-6" routerLink="news">
                <div class="well widget">
                    <h3>NEWS</h3>
                </div>
            </div>
            <div class="col-md-6" routerLink="kpis">
                <div class="well widget">
                   <h3>KPIS</h3>
                </div>
            </div>
        </div><!--/row-->
    </div><!--/col-12-->
</div><!--/row-->

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-6" routerLink="projects">
                <div class="well widget">
                   <h3>PROJECTS</h3>
                </div>
            </div>
            <div class="col-md-6" routerLink="sevenkeys">
                <div class="well widget">
                    <h3>7-KEYS</h3>
                </div>
            </div>
        </div><!--/row-->
    </div><!--/col-12-->
</div><!--/row-->


