<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-6">
                <div class="well widget">
                    <a routerLink="/news"><h3>NEWS</h3></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well widget">
                    <a routerLink="/kpis"><h3>KPIS</h3></a>
                </div>
            </div>
        </div><!--/row-->
    </div><!--/col-12-->
</div><!--/row-->

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-6">
                <div class="well widget">
                    <a routerLink="/projects"><h3>PROJECTS</h3></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well widget">
                    <a routerLink="/sevenkeys"><h3>7-KEYS</h3></a>
                </div>
            </div>
        </div><!--/row-->
    </div><!--/col-12-->
</div><!--/row-->


