<div class="news-detail-wrapper">
  <div class="news-detail-header">
    <h1 class="news-detail-title">
      <span>{{news?.title}}</span>
    </h1>
    <div *ngIf="news && news.fingerprint" class="news-detail-date-time">
      {{news?.fingerprint.creationTime | date:'medium'}}
    </div>
  </div>
  <div class="news-detail-body">
    <div class="news-detail-image">
      <ng-container *ngIf="news?.image">
        <img src="data:image/png;base64,{{news?.image}}">
      </ng-container>
    </div>
    <span class="news-detail-description">
    <p>{{news?.description}}</p>
   </span>
    <span class="news-detail-tags">
      <p><span class="tags-text">Tags: </span>
    <span class="tag-links">{{news?.tags}}</span>
    </p>
    </span>

    <button class="btn btn-primary edit-news" *ngIf="isAdmin && isLoggedIn" (click)="EditNews()">Edit</button>
  </div>
</div>