.news-detail-wrapper{
    display: inline-block;
    width: 78%;
    /*margin-top: 10px;*/
    margin-bottom: 10px;
}

.news-detail-title{
    color: #387bb7;
    font-size: 25px;
    margin: 7px 0 14px;
    margin-top: 0;
    font-weight: normal;    
}

.news-detail-date-time{
    color: #5d5d5d;
    font-size: 14px;
    margin-bottom: 18px;
}

.news-detail-description p{
    color: #2b2b2b;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin: 20px 0;
}

.tag-links{
    cursor: pointer;
    color: #000;
    /*font-size: 13px;*/
    line-height: 18.5667px;
        font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.btn.edit-news{
    padding: .5rem .75rem;
    line-height: 1;
	font-family: "Verdana";
    position: absolute;
    bottom: 0;
    right: 0;
}

.news-detail-body{
    position: relative;
}

.news-detail-image > img{
    width: 100%;
    max-height: 450px;
}

