<div class="">
    <!--<a>
        <h1>Hello Nagarro</h1>
    </a>

    <p>this is playground to explore . . .</p>-->

    <div class="">

        <!--<div class="col-xs-3">
            <a class="btn btn-block btn-default" routerLinkActive="active" routerLink="news">News</a>
        </div>
        <div class="col-xs-3">
            <a class="btn btn-block btn-default" routerLinkActive="active" routerLink="kpis">KPIs</a>
        </div>
        <div class="col-xs-3">
            <a class="btn btn-block btn-default" routerLinkActive="active" routerLink="sevenkeys">7-Keys</a>
        </div>
        <div class="col-xs-3">
            <a class="btn btn-block btn-default" routerLinkActive="active" routerLink="projects">Projects</a>
        </div>-->

        <!--<div style="margin-left:200px;">            
            <input type="button" (click)="search()" class=" pull-right" value="Search">
            <input type="text" [(ngModel)]="searchText" class="pull-right">
        </div>-->

        <div class="heading-wrapper content-middle">
            <img alt="Nagarro" src="assets\static-images\Nagarro-logo-01.png" (click)="gotoHome()" id="branding-img" class="display-inline-block">
            <span class="logged-user display-inline-block" *ngIf="isAdmin && isLoggedIn">Admin User</span>
        </div>
        <nav class="navigation">
            <div class="nav-content-wrapper content-middle">
                <ul>
                    <li><a class="btn btn-block btn-default" routerLinkActive="active" 
                    [routerLink]="isAdmin ? ['news/admin'] : ['news']">News</a></li>
                    <!--<li><a class="btn btn-block btn-default" routerLinkActive="active" routerLink="projects">Projects</a></li>
                    <li><a class="btn btn-block btn-default" routerLinkActive="active" routerLink="kpis">KPIs</a></li>
                    <li><a class="btn btn-block btn-default" routerLinkActive="active" routerLink="sevenkeys">7-Keys</a></li>-->

                </ul>
                <form (ngSubmit)="search()">
                  <span class="srch-wrapper">
				    <input name="searchText" type="text" [(ngModel)]="searchText" placeholder="Search tag..">
                    <button type="submit" name="searchBtn" class=" pull-right srch-btn" 
                    [disabled]="searchText.length==0"><i class="fa fa-search" aria-hidden="true"></i></button>
				  </span>
                </form>

                <input *ngIf="isAdmin && isLoggedIn" type="button" (click)="logout()" class="btn btn-info pull-right log-out" value="Logout">
                <input *ngIf="isAdmin && !isLoggedIn" type="button" (click)="login()" class="btn btn-info pull-right log-in" value="LogIn">
            </div>
        </nav>

    </div>
</div>
<router-outlet></router-outlet>