<div class="jumbotron">
    <a routerLink="/dashboard"><h1>Hello nagarro</h1></a>

    <p>this is playground to explore . . . </p>

    <div class="row">

                <div class="col-xs-3">
                    <a class="btn btn-block btn-default" routerLink="/news">News</a>
                </div>
                <div class="col-xs-3">
                    <a class="btn btn-block btn-default" routerLink="/kpis">KPIs</a>
                </div>
                <div class="col-xs-3">
                    <a class="btn btn-block btn-default" routerLink="/sevenkeys">7-Keys</a>
                </div>
                <div class="col-xs-3">
                    <a class="btn btn-block btn-default" routerLink="/projects">Projects</a>
                </div>
            </div>

    </div>
