<div class="app-news">
  <div>
    <!-- <button class="btn btn-primary create-news" *ngIf="isLoggedIn && isAdmin && !editMode" (click)="createNewNews()">Create new News</button> -->
    <button class="btn btn-primary create-news" *ngIf="isLoggedIn && isAdmin " (click)="createNewNews()">Create new News</button>
  </div>
  <router-outlet></router-outlet>
  <div class="sidenav pull-right">
    <app-popular-news></app-popular-news>
    <br />
    <app-archived-news></app-archived-news>
  </div>
</div>