/*_______Custom CSS starts_________*/

html, body,.page-wrapper{
	height: 100%;
}

.app-news{
	width: 1170px;
	margin: 15px auto 0;
}

.sidenav{
	display: inline-block;
	width: 20%;
}

.page-wrapper{
	/*margin-top: 25px;*/
}

.content-middle{
	width: 1170px;
	/*margin: 0 auto;*/
}

.heading-wrapper{
	margin-bottom: 10px;
	height: 8.5%;
}
.page-wrapper .heading{
	/*height: 10vh;*/
	text-align: center;

}

.page-wrapper .heading h1{
	padding-top: 5px;
	font-size: 24px;
}

.page-wrapper .content-wrapper{
	height: auto;
	text-align: left;
	margin-top: 10px;
	height: calc(82% - 10px);
}

.carousel-wrapper .carousel-img{
	max-height: 260px;
	width: 100%;
}

#branding-img{
	width: 15%;
}

.logged-user{
	width: 84%;
	text-align: right;
}

nav.navigation{
	background-color:#1279B2;
	padding: 10px 25px;
	height: 6.5%;
}

.nav-content-wrapper > *{
	display: inline-block;
}

nav.navigation ul{
	list-style-type: none;
	width: 80%;
}

.srch-wrapper{
	width: 19.5%;
	text-align: right;
}

nav.navigation ul li{
	color: #fff;
	width: 15%;
	font-size: 16px;
	display: inline-block;
	padding: 5px 10px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

.srch-wrapper input{
	padding: 5px;
}

.display-inline-block{
	display: inline-block;
}

.text-align-center{
	text-align: center;
}

.text-align-right{
	text-align: right;
}

.text-align-left{
	text-align: left;
}

.main-content{
	width: 79%;
	height: 100%;
}

.right-content{
	width: 20%;
	vertical-align: top;
	height: 100%;
}

.position-relative{
	position: relative;
}

.position-absolute{
	position: absolute;
}

.text-carousel{
	left: 1%;
	bottom: 5%;
	font-size: 24px;
	color: #1279B2;
}

.tiles-wrapper{
	height: calc(100% - 265px);
	margin-top: 7px;
}

.tiles-wrapper .tiles{
	width: 32.35%;
	/*min-height: 200px;*/
	margin-right: 1%;
	background-color: #005b7f;
	margin-bottom: 1%;
	padding: 1%;
	color: #fff;
	height: 49%;
    min-height: 25vh;
}

.tiles-wrapper .tiles h1{
	font-size: x-large;
}

.tiles-wrapper .tiles:nth-child(3n){
	margin-right: 0;
}

.tiles-ul{
	height: 97%;
}

.date-comments-likes{
	left: 1%;
	bottom:5%;
	width: 99%;
}

.date-comments-likes > span{
	width: 49%;
	padding-right: 2%;
}

.right-content .wrapper{
	height: 100%;
}

/*.right-content .wrapper .popular-news, .right-content .wrapper .archives{
	max-height: 50%;
	overflow-y: scroll;
}*/

.height-100{
	height: 100%;
}

.popular-news, .archives{
	padding-left: 10%;
	height: auto;
}

.h1-popular-news, .h1-archives{
	font-size: xx-large;
			font-weight: bold;
}

.popular-news-ul, .archives-ul{
	padding: 2% 5%;
	margin-bottom: 2%;
}

.popular-news-ul .news-heading{
	font-size: 18px;
}

.popular-news-ul .author-date-comments{
	margin: 3%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 2%;
}

.popular-news-ul .author-date-comments .author{
	color: red;
}


.archives-ul{
	font-size: 18px;
}

.archives-ul li{
	padding: 3% 0;
}

.more-btn a, .more-btn{
	padding-left: 2%;
	color: red;
	font-weight: bold;
}

.btn.create-news{
    padding: .5rem .75rem;
    line-height: 1;
	font-family: "Verdana";
	margin-bottom: 10px;
}




@media screen and (max-width: 1024px){
	.content-middle{
	width: 100%;
	margin: 0 auto;
	}
}