<div>
  news works!

<div class="page-wrapper">
	<!--<div class="heading-wrapper content-middle">
			<img alt="Nagarro" src="images\Nagarro-logo-01.png" id="branding-img" class="display-inline-block">
			<span class="logged-user display-inline-block">Marcus Bracus</span>
		</div>
		<nav class="navigation">
			<div class="nav-content-wrapper content-middle">
				<ul>
					<li>Dashboard</li>
					<li>News</li>
					<li>Projects</li>
					<li>About</li>
          
				</ul>
				<span class="srch-wrapper">
					<input type="text" placeholder="Search">
				</span>
			</div>	
		</nav>-->
		<div class="content-wrapper content-middle">
			<section class="main-content display-inline-block ">
				<!--<div class="carousel-wrapper position-relative">
					<img src="images\carousel.png" class="carousel-img">
					<span class="text-carousel position-absolute">
						Maximize and optimize
					</span>
				</div>-->
				<div class="tiles-wrapper">
					<ul class="text-align-left tiles-ul">
						<li class="tiles display-inline-block position-relative">
							<h1>
								Nagarro expands local footprint in the Nordics
							</h1>
							<div class="date-comments-likes position-absolute">
								<span class="date display-inline-block">
									7th Feb, 2017
								</span>
								<span class="comments-likes display-inline-block text-align-right">
									5 comments
								</span>
							</div>
						</li>
						<li class="tiles display-inline-block position-relative">
							<h1>
								Nagarro expands local footprint in the Nordics
							</h1>
							<div class="date-comments-likes position-absolute">
								<span class="date display-inline-block">
									7th Feb, 2017
								</span>
								<span class="comments-likes display-inline-block text-align-right">
									5 comments
								</span>
							</div>
						</li>
						<li class="tiles display-inline-block position-relative">
							<h1>
								Nagarro expands local footprint in the Nordics
							</h1>
							<div class="date-comments-likes position-absolute">
								<span class="date display-inline-block">
									7th Feb, 2017
								</span>
								<span class="comments-likes display-inline-block text-align-right">
									5 comments
								</span>
							</div>
						</li>
						<li class="tiles display-inline-block position-relative">
							<h1>
								Nagarro expands local footprint in the Nordics
							</h1>
							<div class="date-comments-likes position-absolute">
								<span class="date display-inline-block">
									7th Feb, 2017
								</span>
								<span class="comments-likes display-inline-block text-align-right">
									5 comments
								</span>
							</div>
						</li>
						<li class="tiles display-inline-block position-relative">
							<h1>
								Nagarro expands local footprint in the Nordics
							</h1>
							<div class="date-comments-likes position-absolute">
								<span class="date display-inline-block">
									7th Feb, 2017
								</span>
								<span class="comments-likes display-inline-block text-align-right">
									5 comments
								</span>
							</div>
						</li>
						<li class="tiles display-inline-block position-relative">
							<h1>
								Nagarro expands local footprint in the Nordics
							</h1>
							<div class="date-comments-likes position-absolute">
								<span class="date display-inline-block">
									7th Feb, 2017
								</span>
								<span class="comments-likes display-inline-block text-align-right">
									5 comments
								</span>
							</div>
						</li>

					</ul>
				</div>
			</section>
			<!--<aside class="right-content display-inline-block">
				<div class="wrapper text-align-left">
					<div class="popular-news">
						<h1 class="h1-popular-news">Popular News</h1>
						<ul class="popular-news-ul">
							<li>
								<h2 class="news-heading">ilease for SKG wins the A team award</h2>
								<div class="author-date-comments">
									<div class="author-wrapper">
										<span>by</span>
										<span class="author">Diter ban</span>
									</div>
									<div class="date-likes">
										<span class="date">5th June</span>
										<span>,</span>
										<span class="likes-count">54</span>
										<span>Likes</span>
									</div>
								</div>
							</li>
							<li>
								<h2 class="news-heading">ilease for SKG wins the A team award</h2>
								<div class="author-date-comments">
									<div class="author-wrapper">
										<span>by</span>
										<span class="author">Diter ban</span>
									</div>
									<div class="date-likes">
										<span class="date">5th June</span>
										<span>,</span>
										<span class="likes-count">54</span>
										<span>Likes</span>
									</div>
								</div>
							</li>
							<li>
								<h2 class="news-heading">ilease for SKG wins the A team award</h2>
								<div class="author-date-comments">
									<div class="author-wrapper">
										<span>by</span>
										<span class="author">Diter ban</span>
									</div>
									<div class="date-likes">
										<span class="date">5th June</span>
										<span>,</span>
										<span class="likes-count">54</span>
										<span>Likes</span>
									</div>
								</div>
								<span class="more-btn">+<a href="#">More</a></span>
							</li>
						</ul>
					</div>
					<div class="archives">
						<h1 class="h1-archives">Archives</h1>
						<ul class="archives-ul">
							<li>
								<div>June 2017</div>
							</li>
							<li>
								<div>May 2017</div>
							</li>
							<li>
								<div>April 2017</div>
							</li>
							<li>
								<div>March 2017</div>
							</li>
							<li>
								<div>Feb 2017</div>
							</li>
							<li>
								<div>Jan 2017</div>
							</li>
							<span class="more-btn">+<a href="#">More</a></span>
						</ul>
					</div>
				</div>
			</aside>-->
		</div>
	</div>
  
</div>

<app-news-overview *ngFor="let element of news" [news]="element"></app-news-overview>

<div>
  <h2>Create new news</h2>
  <button (click)="createNewNews()">Create new News</button>
</div>

