.carousel{
    width: 97.5%;
    margin-bottom: 5px;
}

.carousel-inner .item > img{
    width: 100%;
    max-height: 275px;
}

.carousel:hover .carousel-control.left, .carousel:hover .carousel-control.right{
    display: block;
}

.carousel-control.left,
.carousel-control.right{
    background: transparent;
}

.carousel-content {
  position: absolute;
  top: 50%;
  left: 2%;
  z-index: 20;
  color: black;
  /*text-shadow: 0 1px 2px rgba(0,0,0,.6);*/
}

.carousel-content > p{
    color: #002654;
    font-size: 42px;
    line-height: 46px;
    font-weight: normal;
    margin: 0 0 5px;
    padding: 0;
    max-width: 380px;
}

.carousel-control{
    width: 0;
}

.carousel-control.left, .carousel-control.right{
    margin-top: -55px;
    display: none;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
    margin-left: 35px;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: 35px;
}

@media screen and (max-width: 1024px){
    .carousel-content > p{
        font-size: 38px;
        line-height: 42px;
        max-width: 315px;
    }
}

@media screen and (max-width: 768px){
    .carousel-content > p{
        font-size: 32px;
        line-height: 36px;
        max-width: 250px;
    }
}
