<div class="container">
    <div [hidden]="submitted">
        <h1>New BFSI News</h1>
        <form (ngSubmit)="onSubmit()" #newsForm="ngForm">
            <div class="form-group">
                <label for="name">Title</label>
                <input type="text" class="form-control" id="title" required [(ngModel)]="model.title" name="title" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Title is required
                </div>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" [(ngModel)]="model.description" name="description">
            </div>

            <div class="form-group">
                <label for="newsImg">Image</label>
                <div>
                    <input type="file" id="newsImg" (change)="imageUpload($event)" accept=".jpg, .png" placeholder="Upload image..." name="newsImg"/>
                </div>
                <!--<div> <img [attr.src]='file_srcs[0]' alt="" /> </div>-->
            </div>

            <div class="form-group">
                <label for="power">Author</label>
                <input type="text" class="form-control" id="authorName" [(ngModel)]="model.authorName" name="authorName" #authorName="ngModel">
                <div [hidden]="authorName.valid || authorName.pristine" class="alert alert-danger">
                    Author Name is required
                </div>
            </div>

            <!--<div class="form-group" class="no-animate">
                <label for="tags">Tags</label>
                <tag-input [(ngModel)]="model.tags" id="tags" name="tags" #tagInput></tag-input>
            </div>-->

            <button type="submit" class="btn btn-success" [disabled]="!newsForm.form.valid">Submit</button>
            <button type="button" class="btn btn-default" (click)="newNews(); newsForm.reset()">Reset</button>
        </form>
    </div>
</div>