<div class="container create-news-wrapper">
    <div [hidden]="submitted">
        <h1 class="create-news-title">
            <span *ngIf="!editMode">New BFSI News</span>
            <span *ngIf="editMode">Edit News</span>
        </h1>
        <form class="create-news-form" (ngSubmit)="onSubmit()" #newsForm="ngForm">
            <div class="form-group">
                <label for="name">Title</label>
                <input type="text" class="form-control" id="title" required [(ngModel)]="model.title" name="title" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Title is required
                </div>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" cols='60' rows='8' [(ngModel)]="model.description" name="description"></textarea>
            </div>

            <div class="form-group" [ngClass]="editMode ? 'edit-news' : 'create-news'">
                <ng-container *ngIf="editMode && model.image && !imageRemoved">
                    <div class="currently-save-img-wrapper">
                        <span>Currently saved image :</span>
                        <img style="width:100px;height:100px;" src="data:image/png;base64,{{model.image}}">
                        <div class="cross-btn" (click)="removeImage()">
                            <i class="fa fa-times-circle" title="Delete this image" aria-hidden="true"></i>
                        </div>
                    </div>
                </ng-container>
                <div class="add-img-wrapper">
                    <label *ngIf="!editMode" for="newsImg">Add Image</label>
                    <label *ngIf="editMode" for="newsImg">Edit Image</label>
                    <input type="file" id="newsImg" (change)="imageUpload($event)" accept=".jpg, .png" name="newsImg" />
                </div>
                <!--<div> <img [attr.src]='file_srcs[0]' alt="" /> </div>-->
            </div>

            <div class="form-group">
                <label for="power">Author</label>
                <input type="text" class="form-control" required id="authorName" [(ngModel)]="model.authorName" name="authorName" #authorName="ngModel"
                    defaultValue="BFSI Nagarro">
                <div [hidden]="authorName.valid || authorName.pristine" class="alert alert-danger">
                    Author Name is required
                </div>
            </div>

            <div class="form-group" class="no-animate">
                <label for="tags">Tags</label>
                <p-chips [(ngModel)]="model.tags" name="tags" required></p-chips>
            </div>

            <div class="form-buttons">
                <button type="submit" class="btn btn-success" [disabled]="!newsForm.form.valid">Submit</button>
                <button type="button" *ngIf="!editMode" class="btn" (click)="newNews(); newsForm.reset()">Reset</button>
                <button type="button" *ngIf="editMode" class="btn" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </div>
    <label>Note : On browser refresh changes will be discarded.</label>
</div>